// Variables

// Color overrides

// Set a custom color
$orange: #ff6f61 !default;
$deepPurple: #3f3d56 !default;
$lightSkyPurple: #7570c5 !default;
$darkSkyPurple: #2f2c6b !default;
$brightPurple: #6c63ff !default;
$mediumPurple: #4c46b3 !default;
$richPurple: #2e2a6c !default;

// Set primary color to orange
$primary: $brightPurple !default;

// Set secondary color to deep purple
$secondary: $deepPurple !default;
// Font overrides
$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif !default;

// Custom variables
$navbar-height: 72px;